@import'../../node_modules/bootstrap/scss/bootstrap.scss';

// $primary: red;

//PARA RETIRAR
// .testUploadPicture{
//   margin: 10vh
// }

body { 
  // background-color: #A8C6CE;
  height: 100vh;
  font: 14px 'Muli', sans-serif;
  margin:0;}

button:hover {
  border: 1px solid rgb(255, 255, 255);
  background-color: rgb(80, 63, 64);
}

.navbar-layout {
  height: 85px; 
  border-bottom:1px solid rgba(71, 46, 30, 0.075);
  img {
  height: 10vh;   
  padding-right: 125vh; 
  padding-bottom: 30px;}   }

.navbar-layout-a {
  color:black; 
  font-size: 25px; 
  padding-bottom: 40px; 
  padding-right: 40px; }

.navbar2hp {
  min-height: 140px; 
  display: flex; 
  align-items: center; 
  border-bottom:2px solid rgba(0, 0, 0, 0.157); 
  border-top: 2px solid rgba(0, 0, 0, 0.157); 
  a {
  margin-right: 30px;
  font-size: 20px;}  }
.quote{
  position: absolute; 
  font-size: 3vw; 
  color: rgba(85, 31, 31, 0.904); width: 100%; 
  text-align: center;
}
.sign{
  max-width:600px; 
  margin:auto; 
  margin-top: 40px; 
  background-color: white; 
  border: 1px solid white;
  padding: 10px;
  // box-shadow: 5px 10px #888888;
  h2{
    padding: 30px; 
    font-size: 45px; 
    text-align: center; }
    #div {height: 400px;}
    #form-container { margin-left: 90px; 
    padding-top: 40px;}
    #username, #password {color: white; 
    background-color: #d2b48c; 
    border: 1px solid black; 
    height: 40px; 
    width: 300px;}
    button  {border: 1px solid rgb(93, 93, 93); }
    a {float: right;
    color: rgb(124, 118, 28); } 
    }

.profile {
  background-color: white;
  margin-left: 20%;
  margin-top: 80px;
  padding-left: 10px;
  border: 1px solid rgba(128, 128, 128, 0.253);
  padding: 50px;
  box-shadow: 5px 10px #888888;
  max-width: 100%;
  height: 750px; }
  
.view-profile{
  position: absolute;
  font-size: 20px;
  color: rgb(43, 83, 97);
  margin-top: 20px;
img {
  border-radius: 50%;
  margin-left: 30vh; } }
#inputGroupPrepend {
    margin-top: 20px;}  

.profile-img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 100%;
}

.crop {
  object-fit: cover;
}

.form-user-profile{
  margin: 40px;
  min-height: 750px;
  max-width: 100%;
  // width: 100%;
  table {
    height: 200px ;
    width: 100%;
  }
}

.category-title {
  text-align: center;
  margin: 20px;
  color: rgb(92, 55, 60);
  font-weight: bold;
}

.card-style {
  margin: 18px;
}

.div-style {
  font-size: 18px;
  padding-left: 20px;
} 

.font-view {
  font-size: 23px;
  padding-left: 20px;
}

.about-table {
  color: rgba(83, 52, 16, 0.616);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  width: 450px;  
}

#th {
  width: 850px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
  .card {
    img.card-img-top {
      height: 200px;
      object-fit: cover;
    }
  }
}

.imgValidate{
  height: 100px;
  width: 100px;
  object-fit: cover;
}


.border-box {
  border: 1px solid rgba(131, 131, 131, 0.418);
}
// .border-shadow {
//   box-shadow:0 5px 5px rgba(17, 132, 177, 0.308);
// }

.disclaimer {
  display: flex;
  justify-content: center;
  margin: auto;
}