<div class="container mt-5 mb-5">

<h1>Add Place</h1>

{{!-- Send the data to "POST /create-book" --}}
<form action="/create-place" method="post" enctype="multipart/form-data">
  <p>Name (required)</p> 
  <input type="text" name="name" class="form-control" required>
  <br>
  <p>Address (required)</p> 
  <input type="text" name="address" class="form-control" required>
  <br>
  <p>Post Code</p> 
  <input type="text" name="postCode" class="form-control">
  <br>
  <p>Description</p> 
  <input type="text" name="description" min="1" max="20" class="form-control">
  <br>
  <p>Neighbourhood</p> 
  <input type="text" name="neighbourhood" class="form-control">
  <br>
  <p>Picture (required) </p>
  <input type="file" name="photo" class="form-control" required>
  <br>
  <p>Contact Number:</p>
  <input type="text" name="contactNumb" class="form-control">
  <br>
  <p>Website</p>
  <input type="link" name="websiteURL" class="form-control">
  <br>
  <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">What kind of place is it? (required) </label>
        <select name="category" class="custom-select mr-sm-2" id="inlineFormCustomSelect" required>
          <option selected>Choose...</option>
          <option value="Restaurant">Restaurant</option>
          <option value="Accomodation">Accomodation</option>
          <option value="Garden">Garden</option>
          <option value="Dog grooming">Dog grooming</option>
          <option value="Public Transportation">Public Transportation</option>
          <option value="Veterinarian">Veterinarian</option>
          <option value="Pet shop">Pet shop</option>
          <option value="Hospital">Hospital</option>
          <option value="Shopping">Shopping</option>
          <option value="Other">Other</option>
        </select>
      </div>
  </div>
  <br>
    <div class="form-row align-items-center">
      <div class="col-auto my-1">
        <label class="mr-sm-2" for="inlineFormCustomSelect">Does it have a sub category?</label>
        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
          <option selected>Choose...</option>
          <option value="Hotel">Hotel</option>
          <option value="Guesthouse">Guesthouse</option>
          <option value="Apartment">Apartment</option>
          <option value="Hostel">Hostel</option>
          <option value="Train">Train</option>
          <option value="Metro, bus and tramway">Metro, bus tramway</option>
          <option value="Express Bus">Express Bus</option>
          <option value="Boat">Boat</option>
          <option value="Bus">Bus</option>
        </select>
      </div>
  </div>
  <br>
  <p>Suggestions about location:</p> 
  <input type="text" name="warning" min="1" max="20" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Create!</button>
</form>

</div>