<div class="container pt-5">
    <h1 class="category-title">Your Place was succesfully created!</h1>
    <h2 class="category-title">It is now being reviewed and if approved it will be added.</h2>
    <p>Thank you for helping us grow!</p>
    <a href="/" class="btn btn-outline-primary">Go home</a>
</div>