    <quote class="quote" style="background-color: rgba(255, 255, 255, 0.246); margin-top: 22%">
      "If I could be half the person my dog is, I'd be twice the human I am." <br> - Charles Yu.
    </quote>
    <img src="/images/P/chocolate.jpg" alt="Dog" width="100%" style="max-height:740px">

    <nav class="navbar navbar-expand-lg navbar-light navbar2hp" style="background-color: #31758a94;">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup1"
        aria-controls="navbarNavAltMarkup1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup1" style="justify-content: space-evenly;">
        <div class="navbar-nav">
          <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="category/Restaurant">Restaurants</a>
          <a class="nav-item nav-link" href="category/Garden">Gardens</a>
          <a class="nav-item nav-link" href="category/Accomodation">Accomodation</a>
          <a class="nav-item nav-link" href="category/Dog grooming">Dog grooming</a>
          <a class="nav-item nav-link" href="category/Public Transportation">Public Transportation</a>
          <a class="nav-item nav-link" href="category/Veterinarian">Veterinarian</a>
          <a class="nav-item nav-link" href="category/Pet shop">Pet shop</a>
          <a class="nav-item nav-link" href="category/Hospital">Hospital</a>
          <a class="nav-item nav-link" href="category/Shopping">Shopping</a>
        </div>
      </div>
    </nav>
  </section>
  <section>
  <div class="row m-0">
    {{!-- PLACES  --}}
    {{#each places}}
    <div class="col-sm-12 col-md-6 col-lg-4"
      style="background-color: rgb(219, 219, 219); height: 500px; d-inline-flex;">
      <img class="card-img-top crop" src="{{this.pictureURL}}" style="width: 100%; height: 80%" alt="">
      <div class="card-body">
        <h5>{{this.name}}</h5>
        <p class="card-text">{{this.neighbourhood}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  </section>
</section>

