<body style="background-color: lightgrey;">
  <section class="sign" style="width: 900px";>
    <h2>Login</h2>
    <div class="w-100 d-flex justify-content-center">
        <form class="p-0 m-0" action="/auth/sign-in" style="max-width: 450px;" method="post" id="form-container">
          <label for="username" style="font-size:20px;">Username</label>
          <br>
          <input id="username" type="text" name="username" placeholder="Username">
          <br><br>
          <label for="password" style="font-size:20px;">Password</label>
          <br>
          <input id="password" type="password" name="password" placeholder="Your password">
          <br>
          {{#if message }}
          <div class="error-message">{{ message }}</div>
          {{/if}}
          <br><br>
          <button class="btn btn-outline btn-lg btn-block">Login</button>
          <br>
          <br>
          <p class="account-message">
            Don't have an account yet?
            <a href="/auth/sign-up">Signup</a>
          </p>
        </form>
    </div>
  </section>
</body>