<h1>Add Place</h1>

{{!-- Send the data to "POST /create-book" --}}
<form action="/create-place" method="post">
  Name
  <input type="text" name="name" class="form-control">
  <br>
  Address
  <input type="text" name="address" class="form-control"> {{!-- Will define a req.body.description --}}
  <br>
  Post Code
  <input type="text" name="postCode" class="form-control">{{!-- Will define a req.body.author --}}
  <br>
  Description
  <input type="text" name="description" min="1" max="20" class="form-control">{{!-- Will define a req.body.rating --}}
  <br>
  Neighbourhood
  <input type="text" name="neighbourhood" class="form-control">
  <br>
  Picture
  <input type="text" name="pictureURL" class="form-control">
  <br>
  Contact Number:
  <input type="text" name="contactNumb" class="form-control">
  <br>
  Website:
  <input type="link" name="websiteURL" class="form-control">
  <br>
  Category:
  <input type="text" name="category" min="1" max="20" class="form-control">
  
  <br>
  Sub-Category:
  <input type="text" name="group" class="form-control">
  <br>
  Suggestions about location:
  <input type="text" name="warning" min="1" max="20" class="form-control">
  <br>
  <button type="submit" class="btn btn-primary">Create!</button>
</form>