<div class="container pt-5">
    <h1>Your Place was succesfully created!</h1>
    <h2>It is now being reviewed and if approved it will be added.</h2>
    <p>Thank you for helping us grow!</p>
    <a href="/">Go home</a>
</div>