<section>

  <div>
    <img src="/images/P/pawss.png" alt="paws" style="position: absolute; MARGIN-LEFT: 35%; MARGIN-TOP: 5%;">
    <img src="/images/P/Hiker_with_dog.jpg" alt="Dog" width="100%" height="540px">
  </div>
  <nav class="navbar navbar-light">
  </nav>
</section>

<section>
  {{!-- PLACES --}}


  {{!-- PLACES  --}}
  {{#each places}}
  <div class=" col-md-6"
    style="background-color: rgb(219, 219, 219); width: 31%; margin:20px; height: 500px; display:inline-block;">
    <img class="card-img-top" src="{{this.pictureURL}}" style="width: 100%; height: 80%" alt="">
    <div class="card-body">
      <h5><a href="/auth/places" class="btn btn-dark">{{this.name}}</a></h5>
      <p class="card-text">{{this.neighbourhood}}</p>
    </div>
  </div>
  {{/each}}
</section>

<footer>

  <a href="/auth/about-us" class="text-decoration-none" style="color:black;">About us</a>
</footer>