<body style="background-color: lightgrey;">

  <section class="sign">
    <a href="/profile-edit">Edit your profile</a>

    <form>
      <div class="form-group">
        <label for="exampleFormControlFile1">{{userFromDB.name}}</label>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleFormControlFile1">{{userFromDB.username}}</label>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleFormControlFile1"><img src="{{userFromDB.picture}}" alt=""></label>
      </div>
      <br>
      <div class="form-group">
        <label for="exampleFormControlFile1">{{userFromDB.location}}</label>
      </div>
    </form>
  </section>