<body style="background-color:rgba(230, 173, 51, 0.589);">

<section style="border: 1px solid black; width: 30%; margin:auto; background-color: white;">
  <h2 style="padding: 30px; font-size: 45px; text-align: center;">Login</h2>
  <div style="height: 400px;">
    <div>
      <form action="/auth/sign-in" method="post" id="form-container" style="margin-left: 90px; padding-top: 40px;">
        <label for="username" style="font-size:20px;">Username</label>
        <br>
        <input id="username" type="text" name="username" placeholder="Username" style=" color: white; background-color: #b4888b; border: 1px solid black; height: 40px; width: 400px;">
        <br><br>
        <label for="password" style="font-size:20px;">Password</label>
        <br>
        <input id="password" type="password" name="password" placeholder="Your password" style=" color: white; background-color: #b4888b; border: 1px solid black; height: 40px; width: 400px;">
        <br>
        {{#if message }}
        <div class="error-message">{{ message }}</div>
        {{/if}}
        <br><br>
        <button class="btn my-2 my-sm-0" style="border: 1px solid rgb(93, 93, 93);">Login</button>
        <br>
        <br>
        <p class="account-message">
          Don't have an account yet?
          <a href="/auth/sign-up">Signup</a>
        </p>
      </form>
    </div>
  </div>
  </section>
</body>